.post-second {
  display: flex;
  padding: 100px 5rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  > div {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik';
    > div {
      background: linear-gradient(75deg, #FF4C6C, #FA9D4D 80%);
      font-size: 80px;
      font-family: 'Montserrat', sans-serif;    
      font-weight: 700;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    
    }
    > p {
      color: gray;
      line-height: 1.5;
      font-size: 18px;
      
    }
    > a {
      font-size: 25px;
      font-weight: 600;
      &:hover {
        color: rgb(63, 63, 63)
      }
    }
    > button {
      align-self: start;
      background-color: #FC7D59;
      color: white;
      &:hover {
        background-color:#FE5C65;

      }
    }
  }
  > img {
    width: 70%;
  }
}

@media (max-width: 1260px) {
  .post-second {
    > div {
      
      > div {
        font-size: 70px;

      }
      > p {
        
      }
      > a {
        
        &:hover {
        }
      }
      > button {
       
        &:hover {
  
        }
      }
    }
    > img {
      width: 50%;
    }
  }
  
}

@media (max-width: 900px) {
  .post-second {
    flex-direction: column;
    > div {
      
      > div {
        font-size: 40px;

      }
      > p {
        
      }
      > a {
        
        &:hover {
        }
      }
      > button {
       
        &:hover {
  
        }
      }
    }
    > img {
      margin: 0 auto;
      width: 80%;
    }
  }
  
}