nav {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  background-color: transparent;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color .3s ease-in-out, border-bottom .3s ease-in-out;
  z-index: 1;
  > img {
    height: 75%;
    filter: drop-shadow(1px 1px 2px white);

  }
  > div {
    gap: 1.5rem;
    display: flex;
    
    > div {
      cursor: pointer;
      font-weight: 500;
      font-family: 'Rubik';
      > a {
        text-decoration: none;
        color: unset
      }
        &:hover {
        color:coral
      }
    }    
    
  }
  > button {
    display: none;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    font-weight: 1000;
    cursor: pointer;
  } 
  > a {
    cursor: pointer;
      font-weight: 500;
      font-family: 'Rubik';
      text-decoration: none;
      
    &:hover {
      color:coral !important
    }
  }
  
}

@media (max-width: 900px) {
  
  nav {
    > div {
      display: none;
    }
    > button {
      display: flex;
    }
  }
}

@media (max-width: 550px) {
  
  nav {
    > img {
      display: none;
    }
    > button {
      display: flex;
    }
  }
}
