nav {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  background-color: transparent;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color .3s ease-in-out, border-bottom .3s ease-in-out;
  z-index: 1;
  > img {
    height: 75%;
    filter: drop-shadow(1px 1px 2px white);

  }
  > div {
    gap: 1.5rem;
    display: flex;
    
    > div {
      cursor: pointer;
      font-weight: 500;
      font-family: 'Rubik';
      > a {
        text-decoration: none;
        color: unset
      }
        &:hover {
        color:coral
      }
    }    
    
  }
  > a {
    cursor: pointer;
      font-weight: 500;
      font-family: 'Rubik';
      text-decoration: none;
      
    &:hover {
      color:coral !important
    }
  }
  
}

header {
  > button {
    display: none;
    background-color: orange;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 10px 15px;
  } 
}
@media (max-width: 900px) {
  header {
    > button {
      display: flex;
    } 
  }
  nav {
    display: none;
  }
}