.columns-dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 5rem;
  font-family: 'Rubik';
  color: #3B3663;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;

    >h1 {
      font-size: 70px;
    }

    >h3 {
      font-size: 30px;
      font-weight: 400;
    }

    >div {
      height: 12px;
      width: 100%;
      background-color: #E7EFF3;
      border-radius: 10px;
      margin: 2rem 0;

      >div {
        height: 100%;
        border-radius: 10px;
        opacity: .7;
      }
    }
  }
}

@media (max-width:1050px) {
  .columns-dates {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Rubik';
    color: #3B3663;

    >div {
      width: 100%;

      >h1 {}

      >h3 {}

      >div {

        >div {}
      }
    }
  }

}

@media (max-width:640px) {
  .columns-dates {

    margin: 100px 1.5rem;

    >div {
      >h1 {}

      >h3 {}

      >div {

        >div {}
      }
    }
  }

}